  <div class="container" ng-controller="selectController as selectCtrl">
    <h2 class="center">Add teams for draw</h2>

    <div class="row blue-grey lighten-5 center">
      <br />
      <div class="container">
        <div class="row">
          <img class="responsive-img" src=http://placehold.it/300x331 />
        </div>

        <div class="row grey darken-4 grey-text text-lighten-2 center">
          <div class="col s2">
            <h5><i class="fa fa-arrow-left waves-effect waves-light"></i></h5>
          </div>
          <div class="col s8">
            <h5>Lorem Ipsum</h5>
          </div>
          <div class="col s2">
            <h5><i class="fa fa-arrow-right waves-effect waves-light"></i></h5>
          </div>
        </div>

        <div class="row grey darken-4 grey-text text-lighten-2 center">
          <div class="col s2">
            <h5><i class="fa fa-arrow-left waves-effect waves-light"></i></h5>
          </div>
          <div class="col s8">
            <h5>Lorem Ipsum</h5>
          </div>
          <div class="col s2">
            <h5><i class="fa fa-arrow-right waves-effect waves-light"></i></h5>
          </div>
        </div>

        <div class="row">
          <a ui-sref="teamSelector" class="waves-effect waves-light btn-large grey darken-4">ENTER TEAM</a>
        </div>
      </div>
  </div>
