  <div class="container" ng-controller="selectController as selectCtrl">
    <h2 class="center">Add teams for draw</h2>

    <div class="row blue-grey lighten-5 center">
      <br />
      <div class="container">
        <div class="row">
          <img class="responsive-img" src=http://placehold.it/300x331 />
        </div>

        <div class="row grey darken-4 grey-text text-lighten-2 center" ng-show="selectCtrl.international">
          <div class="col s2">
            <h5><i class="fa fa-arrow-left waves-effect waves-light" ng-click="selectCtrl.moveCountryLeft()"></i></h5>
          </div>
          <div class="col s8">
            <h5>{{selectCtrl.countries[selectCtrl.currentCountry].name}}</h5>
          </div>
          <div class="col s2">
            <h5><i class="fa fa-arrow-right waves-effect waves-light" ng-click="selectCtrl.moveCountryRight()"></i></h5>
          </div>
        </div>

        <div class="row grey darken-4 grey-text text-lighten-2 center" ng-show="selectCtrl.club">
          <div class="col s2">
            <h5><i class="fa fa-arrow-left waves-effect waves-light" ng-click="selectCtrl.moveClubLeft()"></i></h5>
          </div>
          <div class="col s8">
            <h5>{{selectCtrl.countries[selectCtrl.currentCountry].clubs[selectCtrl.currentClub].name}}</h5>
          </div>
          <div class="col s2">
            <h5><i class="fa fa-arrow-right waves-effect waves-light" ng-click="selectCtrl.moveClubRight()"></i></h5>
          </div>
        </div>

        <div class="row">
          <a ui-sref="teamSelector" class="waves-effect waves-light btn-large grey darken-4">ENTER TEAM</a>
        </div>
      </div>
    </div>

    <div class="row">
      <br />
      <h2 class="center">List of Teams</h2>

      <table class="highlight">
        <thead>
          <th>#</th>
          <th>Team</th>
        </thead>

        <tbody>
          <tr>
            <td>Alvin</td>
            <td>Eclair</td>
          </tr>
          <tr>
            <td>Alan</td>
            <td>Jellybean</td>
          </tr>
          <tr>
            <td>Jonathan</td>
            <td>Lollipop</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
